html {
  height: auto;
}
body {
  background-color: #eaf5ff;
  font-family: sans-serif;
  color: #002d72;
  /*padding: 0 50px 50px 50px;*/
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  width: 100%;
  /* min-height: 1100px; */
  height: auto;
}
footer {
  margin-top: 15px;
}
a {
  text-decoration: none;
}
.logo {
  font-weight: bold;
  color: white;
}
.topnav {
  background-color: #68ace5;
  padding: 20px;
  background-color: #68ace5;
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 300px;
  margin: 0;
  height: 50px;
}
.introduction {
  width: 80vw;
  min-width: 300px;
  margin: auto;
}
.sections {
  min-height: 100px;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #131720;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.topnav .search-container {
  float: right;
}

form {
  width: 100%;
  height: auto;
  border-radius: 11px;
  display: flex;
  align-items: center;
}

input {
  font: 15px system-ui;
  color: 002d72;
  height: 100%;
  padding: 6px 9px;
}

/*Input Form*/
.input_wrapper {
  text-align: left;
  vertical-align: middle;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#input_form_section {
  background-color: #68ace5;
}

.input_wrapper .input_form {
  padding: 30px;
  display: table;
  width: auto;
  margin: auto;
  border-radius: 0;
  opacity: 1;
}

.input_wrapper .start_button {
  margin-top: 10px;
}

.input_wrapper .test_button {
  margin-top: 10px;
}

.input_wrapper input {
  padding: 0.3em;
  width: 70px;
}
.input_wrapper input:focus {
  border: 1px solid #0072ce;
}

.input_wrapper textarea {
  width: 100%;
  min-height: 6em;
}

.input_wrapper label {
  display: flex;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.input_form_row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 3px;
  position: relative;
}
#start_button_div {
  height: 50px;
  margin: 0px;
}

.start_button {
  margin: 0 auto;
  position: relative;
  width: 80px;
  height: 30px;
  vertical-align: middle;
  border: none;
  color: #002d72;
  font-weight: bold;
  box-shadow: 0 6px #999;
}

.start_button:hover {
  background-color: #1697ff;
  cursor: pointer;
}

.start_button:active {
  background-color: #1697ff;
  box-shadow: 0 4px #808080;
  transform: translateY(4px);
}

#start_button_div {
  height: 50px;
  margin: 0px;
}

.test_button {
  margin: 0 auto;
  position: relative;
  width: 80px;
  height: 30px;
  vertical-align: middle;
  border: none;
  color: #002d72;
  font-weight: bold;
  box-shadow: 0 6px #999;
}

.test_button:hover {
  background-color: #1697ff;
  cursor: pointer;
}

.test_button:active {
  background-color: #1697ff;
  box-shadow: 0 4px #808080;
  transform: translateY(4px);
}

#submit_data_response {
  display: table;
  height: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
#submit_data_response p {
  text-align: center;
  vertical-align: middle;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

#graph_section {
  height: auto;
  width: 950px;
  margin: auto;
}

#graph_data_msg {
  width: 500px;
  margin: auto;
}

#graph_data_msg p {
  text-align: center;
  vertical-align: middle;
}

#susceptibleChart,
#infectedRecoveredChart {
  width: 600px;
  height: 400px;
  margin: auto;
}

#graph_data_div {
  display: flex;
  width: 500px;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.chartjs-size-monitor,
.chartjs-size-monitor {
  width: 400px;
  height: 300px;
}

.graph_chart_div {
  display: block;
  margin: auto;
}

@media only screen and (max-width: 850px) {
  body {
    font-size: 1rem;
  }
  #graph_data_div {
    display: block;
  }
  #graph_section {
    width: auto;
  }
}
